<nav class="nav-wrap">
    <ul class="nav-list">
        {{navigation}}
        <li class="nav-item"><a href="https://news.everyepoch.com" class="nav-btn">{{> icons/github}}{{t "News"}}</a></li>
        <li class="nav-item"><a href="https://discord.gg/T4b5sKyuyN" class="nav-btn">{{> icons/github2}}{{t "Poker"}}</a></li>
        <li class="nav-item"><a href="https://discord.gg/T4b5sKyuyN" class="nav-btn">{{> icons/github5}}{{t "Crash"}}</a></li>
        <li class="nav-item"><a href="https://discord.gg/T4b5sKyuyN" class="nav-btn">{{> icons/github3}}{{t "Roulette"}}</a></li>
        <li class="nav-item"><a href="https://discord.gg/T4b5sKyuyN" class="nav-btn">{{> icons/github4}}{{t "Metaverse"}}</a></li>
    </ul>
</nav>